DB_SCHEMA=public
DB_HOST=go-search-postgres
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=go_search_db
DB_MAX_CONNS=10
DB_MIN_CONNS=10
DB_CONNECT_TIMEOUT=5
POSTGRES_HOST_AUTH_METHOD=trust
REDIS_URL=go-search-redis
ELASTICSEARCH_HOST=http://go-search-elasticsearch:9200
ELASTICSEARCH_INDEX=articles01

DEVTO_TAGS=golang,programming,java,php,physics,ai,technology
HASHNODE_TAGS=golang,programming,java,php,physics,ai,technology
WIKI_CATEGORIES=golang,programming,java,php,physics,ai,technology